* {
    margin: 0;
    padding: 0;
} 
html {
    
    scroll-behavior: smooth;
}
body {
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, p {
    font-family: "Oxygen";
    margin: 13px;
    padding: 0px;
}

#hamburger {
    fill:white;
    position: fixed;
    margin: 10px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    z-index: 1;
}



#navbar {
    font-family: "Tahoma";
    list-style-type: none;
    width: 0px; /*Default closed*/
    background-color: #333333;
    font-size: 30px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 2;
    transition: width .5s ease;
    white-space: nowrap; /*Stops words from going to next line when closing*/
}

.navbar-item {
    text-decoration: none;
    display: block; /*block allows to edit margins/alignment*/
    color: white;
    padding: 10px 20px;
    text-align: right;
}

.navbar-item:hover {
    background-color: #787777;
    color: #333333;
}

.navbar-item:active {
    background-color: #787777;
    color: #333333;
}

#overlay {
    width :100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

#homepage-content {
    padding: 1px;
    margin: 0px;
}

#intro {
    text-align: left;
    font-size: 2vw;
    color: white;
    /* background-color: rgb(228, 229, 241);
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken; */
    margin: 50px 20% 50px 20%;
    padding-top: 200px;
    padding-bottom: 200px;
    border-radius: 50px;
}



.text{
    position: relative;
}

.im-a{
    color:#513a82;
}

/* Creates the cursor*/
.what-am-i::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height:110%;
    width: 100%;
    background-color: #000;
    border-left: 2px solid rgb(255, 255, 255);
    animation: animate 4s steps(25) infinite;
}


@keyframes animate {
    40%, 60%{
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
/* adasd


#intro-sub1{
    animation: text1;
    animation-duration: 10s;
}

#intro-sub2{
    animation: text2;
    animation-duration: 6s;
}

#intro-sub1, #intro-sub2 {
    display: inline-block;
    white-space:nowrap;
    overflow: hidden;
    position: relative;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}

#intro-sub1::after, #intro-sub2::after {
    content: "|";
    position: absolute;
    right: 0px;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes text1 {
0%, 50%, 100% {
    width: 0;
}
10%, 40% {
    width: 37vw;
}
}

@keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
        width: 17vw;
    }
}



@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
} */















@keyframes blink {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.section {
    font-family: "Roboto";
    border-radius: 25px;
    background: #cfe8f5;
    color: #000;
    padding-left: 20px;
    width: 90%;
    height: 80px; 
    margin-left: 100px;
    line-height: 80px;
    clear: both;
}

.imgmyself {
    float: left;
    width: 200px;
    height: 200px; 
    border: 5px solid #99d1f0;
    margin-left: 100px;
}

.aboutmyself {
    margin-left: 400px;
    color: white;
}

.skillssection {
    margin-top: 300px;
}

footer {
    background-color: black;
    text-align: center;
    position: sticky;
    height: 50px;
}

footer a {
    color: white;
    /*position: sticky;*/
    text-decoration: none;
    display: inline-block;
    width: 500px;
    margin-top: 10px;
}